{% extends 'base.html' %}

{% block content %}


{% include 'nav.html' %}


<div class="add-page">
    <form action="{{ url_for('add') }}" method="POST">
        <a href="{{ url_for('view') }}"><div>< Back</div></a>
        <h3>Add New Record</h2>
        <label for="player_name">Player Name</label>
        <input type="text" name="player_name" required>

        <label for="time_taken">Time Taken</label>
        <div class="time-taken">
            <input class="time-taken-child" type="number" name="time_taken_min" min=0 required>
            <label for="time_taken_min">m</label>

            <input class="time-taken-child" type="number" name="time_taken_sec" min=0 max=59 required>
            <label for="time_taken_sec">s</label>

            <input class="time-taken-child" type="number" name="time_taken_ms" min=0 max=999 required>
            <label for="time_taken_ms">ms</label>
        </div>

        <label for="date">Date</label>
        <input type="date" name="date" required>

        <label for="difficulty">Difficulty</label>
        <select name="difficulty" required>
            <option value="" disabled>Select a difficulty</option>
            <option value="Peaceful">Peaceful</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Normal</option>
            <option value="Hard">Hard</option>
            <option value="Hardcore">Hardcore</option>
        </select>

        <div class="form-button">
            <button class="green-button button" type="submit" name="action" value="save">Save</button>
        </div>


    </form>

    <div class="rules">
        <h3>Rules</h3>
        <ol>
            <li>Speed runners must complete the run in the vanilla version with no mods  or any sort of external support that the speed runners will use to their benefit </li>
            <li>Speed runners may only use specific type of seed when told to otherwise the submission will be denied from the record.</li>
            <li>It is required that all speed runners must show their timer during the run otherwise the submission will be denied from the record </li>
            <li>Glitches are permitted only for the glitched runs</li>
        </ol>
    </div>

</div>

{% endblock %}